body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font: menu;
  background: #222;
  -webkit-app-region: drag;
}

* {
  box-sizing: border-box;
}

#stage.drag {
  background: repeating-linear-gradient(
    45deg,
    #013402,
    #013402 10px,
    transparent 10px,
    transparent 20px
  );
}

#stage.error {
  background: repeating-linear-gradient(
    45deg,
    #340102,
    #340102 10px,
    transparent 10px,
    transparent 20px
  );
}

.preview-container {
  display: flex;
  padding: 25px;
  justify-content: center;
  height: 150px;
  width: 100%;
}

#stage {
  height: 740px;
  padding: 40px 20px 0 20px;
  background-color: #222;
  background-image: url(logo.png);
  background-position: center center;
  background-size: 400px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

#main-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 700px;
  display: block;
  pointer-events: none;
}

#preview-image {
  width: 100%;
  height: 100px;
  -webkit-app-region: no-drag;
  object-fit: contain;
}

#preview-image.pending {
  display: none;
}

.handle-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: auto;
  max-height: 700px;
  max-width: 700px;
}

.handle {
  position: absolute;
  background: transparent;
  color: white;
  text-shadow: 0 0 2px black;
  border: 0;
  outline: 0;
  -webkit-app-region: no-drag;
}

.handle:hover::before,
.handle.dragged::before {
  border: 1px solid red;
}

.handle span {
  display: block;
  font-size: 18px;
  transform: translate(0.7rem, -0.7rem);
}

.handle::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.3);
  content: " ";
  transition: 0.2s all;
  -webkit-app-region: no-drag;
}

.handle.dragged::before {
  transform: scale(1.5);
  transition: 0.2s all;
}

.handle::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  background: white;
  content: " ";
}

#topleft {
  left: 20%;
  top: 20%;
}

#topleft::before {
  background: rgba(255, 0, 0, 0.3);
}

#topright {
  left: 40%;
  top: 20%;
}
#bottomright {
  left: 40%;
  top: 40%;
}
#bottomleft {
  left: 20%;
  top: 40%;
}

#lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.spinner:not(.active) {
  display: none;
}

.spinner {
  width: 50px;
  height: 50px;
  background: #222;
  border-radius: 50px;
  border: 5px solid white;
  position: relative;
  animation-name: hand;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinner::before,
.spinner::after {
  content: " ";
  width: 10px;
  height: 25px;
  background: #222;
  display: block;
  transform-origin: bottom;
  position: absolute;
  left: calc(50% - 5px);
  top: -5px;
  animation-name: hand;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinner::before {
  animation-duration: 1.5s;
}
.spinner::after {
  animation-duration: 2s;
}

@keyframes hand {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
