body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font: menu;
  background: #222;
}

* {
  box-sizing: border-box;
}

.wrap {
  height: 100%;
}

.buttons button {
  font: menu;
  color: white;
  border: 2px solid white;
  background: #222;
  padding: 6px 12px;
  outline: 0;
  border-radius: 5px;
}

.buttons button:hover {
  color: #222;
  background: white;
  cursor: pointer;
}

.buttons {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#main-image {
  width: auto;
  height: auto;
  max-width: 700px;
  max-height: 700px;
  display: block;
}

#preview-wrapper {
  text-align: center;
}

#preview-image {
  width: 300px;
  height: auto;
}

.handle-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  max-height: 700px;
  max-width: 700px;
}

.handle {
  position: absolute;
  background: transparent;
  color: white;
  text-shadow: 0 0 2px black;
  border: 0;
  outline: 0;
}

.handle:hover::before {
  border: 1px solid red;
}

.handle span {
  display: block;
  font-size: 18px;
  transform: translate(0.7rem, -0.7rem);
}

.handle::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
  content: " ";
}

.handle::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  background: white;
  content: " ";
}

#topleft {
  left: 20%;
  top: 20%;
}

#topright {
  left: 40%;
  top: 20%;
}
#bottomright {
  left: 40%;
  top: 40%;
}
#bottomleft {
  left: 20%;
  top: 40%;
}

#lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
