body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font: menu;
  background: #222;
  -webkit-app-region: drag;
}

* {
  box-sizing: border-box;
}

.buttons button {
  font: menu;
  font-size: 14px;
  color: white;
  border: 1px solid white;
  background: #222;
  outline: 0;
  border-radius: 50px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 100;
}

.buttons button:hover {
  color: #222;
  background: white;
}

.buttons {
  display: flex;
  padding: 25px;
  margin-top: 50px;
  justify-content: space-between;
  align-items: flex-end;
  height: 150px;
  width: 100%;
}

#stage {
  height: 700px;
  margin: 40px 20px 0 20px;
  background-image: url(logo.png);
  background-position: center center;
  background-size: 400px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

#main-image {
  width: auto;
  height: auto;
  max-width: 700px;
  max-height: 700px;
  display: block;
  pointer-events: none;
}

#preview-image {
  width: auto;
  height: auto;
  max-height: 110px;
  -webkit-app-region: no-drag;
  object-fit: contain;
}

.handle-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: auto;
  max-height: 700px;
  max-width: 700px;
}

.handle {
  position: absolute;
  background: transparent;
  color: white;
  text-shadow: 0 0 2px black;
  border: 0;
  outline: 0;
  -webkit-app-region: no-drag;
}

.handle:hover::before,
.handle.dragged::before {
  border: 1px solid red;
}

.handle span {
  display: block;
  font-size: 18px;
  transform: translate(0.7rem, -0.7rem);
}

.handle::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.3);
  content: " ";
  transition: 0.2s all;
  -webkit-app-region: no-drag;
}

.handle.dragged::before {
  transform: scale(1.5);
  transition: 0.2s all;
}

.handle::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  background: white;
  content: " ";
}

#topleft {
  left: 20%;
  top: 20%;
}

#topleft::before {
  background: rgba(255, 0, 0, 0.3);
}

#topright {
  left: 40%;
  top: 20%;
}
#bottomright {
  left: 40%;
  top: 40%;
}
#bottomleft {
  left: 20%;
  top: 40%;
}

#lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
